.wrap{
	width: 1280px;
	background-color: white;
	margin-right: 10px;
	margin-left: 10px;
}
.wrap .header{
	height: 119px;
	width: 137px;
	padding: 2px 20px;
	background-color: white;
}

.wrep .menu{
	background-color : #008BA6;
	height: 85px;
}
.wrap .badan {
	height: 1524px;
}
.wrap .badan .slidebar{
width: 280px;
height: 1524px;
background-color: white;
}
.logounej {
	width: 86px;
	height: 85px;
	margin-left: 39px;
	margin-top: 18px;
	display: block;
	position: absolute;
}
.title{
	font-style: normal;
	font-size: 40px;
	color: #008BA6;
	font-family: Broadway;
	margin-top: 33px;
	margin-left: 154px;
	display: block;
	position: absolute;
}
.font{
	font-style: normal;
	font-size: 25px;
	font-family: Bookman Old Style;
	color: #008BA6;
	text-decoration:none;
}
.login{
	margin-left: 1035px;
	margin-top: 79px;
	display: block;
	position: absolute;
}
.register{
	margin-left: 1134px;
	margin-top: 80px;
	display: block;
	position: absolute;
}
.wrap .menu{
	background-color: #008BA6;
	width: 1280px;
	height: 85px;
	overflow: hidden;
	display: block;
	position: absolute;

}

#float li {
    background: #008BA6;
    float: left;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

#float li a {

    color: white;
    text-decoration: none;
    padding: 25px 25px;
    font-size: 25px;
	font-family: Bookman Old Style;
}

#float li.active {
    background: white;
}

#float li.active a {
    color: #008BA6;
    font-weight: bold;
}

.horizontal{
	border: 3px #008BA6 solid; 
	height: 37px; 
	width: 0px;
	margin-right: 1117,5px;
	margin-top: 78,5px;
	display: block;
	position: absolute;
}

.contact {
  background-image: url("fb.png");
  background-repeat: no-repeat;
  padding-left: 18px !important;
  background-size: 20%;
  background-position-y: 20%;}

.footer{
	background-color: #008BA6;
	width: 1280px;
	height: 50px;
	margin-right: 0,5px;
	margin-bottom: : 732,5px;
	overflow: hidden;
	display: block;
	position: absolute;
}

#float1 li {
    background: white;
    float: right;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

#float1 li a {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    padding: 10px 15px;
}

#float1 li a:hover {
  background: #454d59;
  color: #d0d2d5;
}