.logo{
	height: auto;
	max-width: 95%;
	margin-left: 20%;
	margin-top: 10px;
}
.title{
	font-size: 45px;
	color: #008BA6;
	font-family: Broadway;
	margin-left: 5%;
}
.login li{
    float: right;
    list-style: none;
    padding-right: 8%;
    margin-top: 25%;
}
.login li a{
	color: #008BA6;
    text-decoration: none;
    font-size: 25px;
	font-family: Bookman Old Style;
}
.login li a:hover {
  	background: white;
  	color: #7D0521;
  	font-weight: bold;
}
.login li.active a{
	color: #7D0521;
    font-weight: bold;
}
.fitur li {
    background: #008BA6;
    float: left;
    list-style: none;
    padding: 1% 3%;
    margin-left: none;
}
.fitur li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
	font-family: Bookman Old Style;
}
.fitur li.active {
    background: white;
}

.fitur li.active a {
    color: #008BA6;
    font-weight: bold;
}
.fitur li a:hover {
  color: black;
}
.profil{
    color: #7D0521; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.simple li {
    border: 3px solid #008BA6;
    border-right: 0px;
    border-top: 1px solid #008BA6;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 8px;
}
.simple li:first-child{
    border-top: 3px solid #008BA6;
}
.simple li a:hover {
    color : black;
}
.simple li a {
    color: #008BA6;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

}
.simple li.active {
    background: #008BA6;
}

.simple li.active a {
    color: white;
    font-weight: bold;
}
.komentar{
    margin : 20px;
    margin-top: 100px;
}
.leave{
    font-weight: bold;
    font-size: 22px;
    font-family: Bookman Old Style;
    color: #008BA6;
}
.form{
    border: 2px solid #008BA6;
    width: 95%;
    height: 35px;
}
.vertikal{
    width:5px; 
    height:100%; 
    background-color:#008BA6;
    float: left;
}
.comment{
    background-color: #008BA6;
    border-color:  #008BA6;
    color: white;
    border-style: none;
    font-size: 18px;
    font-family:Bookman Old Style;
    padding: 10px 25px;
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
.gambar{
    margin-top: 30px;
    height: 248px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.isiprofil{
    text-align: justify;
    font-size: 18px;
    font-family: Bookman Old Style;
    color: black;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    word-spacing: 3px;
    line-height: 25px;

}
.judul{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Bookman Old Style;
}

.horizontal{
    height: 5px;
    background-color: #008BA6;
    width: 100%;
    margin-top: 0;
}
.sosmed li{
    float: left;
    list-style: none;
}
.sosmed li a{
    color: #008BA6;
    text-decoration: none;
    margin-left: 40px;
    padding: auto;
    color: #008BA6;
    font-size: 18px;
    margin-top: 5px;
    display: block;
}
.icon{
    width: 30px;
    height: 30px;
    float: left;
}
.phone{
    overflow: hidden;
    list-style: none;
    background-color: #008BA6;
    width: 100%;
    list-style: none;
    margin-left: 0;
}
.phone li{
    padding: 7px ;
    border : 1px solid white;
}
.phone li a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: white;
}
.phone li.active a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.phone li.active {
    background-color: white;
    border : 2px solid #008BA6;
}